{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Profile Information -->
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ profile.user.username }}</h2>
                <p>{{ profile.user.email }}</p>
                <p>{{ profile.user.first_name }} {{ profile.user.last_name }}</p>
                <p>Followers: {{ profile.followers.all.count }} Follows: {{ profile.user.following.count }}</p>
                <p>{{ profile.bio }}</p>

                <!-- Action buttons -->
                {% if profile.user == user %}
                    <div class="btn-group mt-3" role="group">
                        <button class="btn btn-info update-btn">Update</button>
                        <button class="btn btn-danger delete-btn">Delete</button>
                    </div>
                {% else %}
                    {% if user not in followers %}
                        <form method="POST" class="mt-3">
                            {% csrf_token %}
                            <button class="btn btn-info" type="submit" name="action" value="follow">Follow</button>
                        </form>
                    {% else %}
                        <form method="POST" class="mt-3">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit" name="action" value="unfollow">Unfollow
                            </button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <!-- Toggle Buttons -->
        <div class="btn-group mt-3" role="group" aria-label="Post Filters">
            <a href="{% url 'profile' profile.user.id %}?filter=posted"
               class="btn btn-outline-primary {% if filter_type == 'posted' %}active{% endif %}">
                Posted
            </a>
            <a href="{% url 'profile' profile.user.id %}?filter=liked"
               class="btn btn-outline-primary {% if filter_type == 'liked' %}active{% endif %}">
                Liked
            </a>
        </div>


        <!-- Displayed Posts -->
        {% for post in displayed_posts %}
            <article class="media content-section">
                <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{ post.author }}</a>
                        <small class="text-muted">{{ post.created_at|date:"F d, Y" }}</small>
                        <img class="article-img h-100 w-100" src="{{ post.image.url }}">
                    </div>
                    <p class="article-content">{{ post.content }}</p>
                </div>
            </article>
        {% empty %}
            <p>No posts available.</p>
        {% endfor %}
    </div>

    <!-- Update Form -->
    <div class="update-form" style="display:none;">
        <form id="update-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Profile</legend>
                {{ u_form | crispy }}
                {{ p_form | crispy }}
            </fieldset>
            <br>
            <div class="form-group">
                <button class="btn btn-outline-info" name="action" value="update" type="submit">Update</button>
                <button class="btn btn-outline-secondary cancel-btn">Cancel</button>
            </div>
        </form>
    </div>

    <!-- Delete Form -->
    <div class="delete-form" style="display: none;">
        <form id="delete-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <h2>Deleting your profile will result in deleting all your posts and information.</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" name="action" value="delete" type="submit"
                        onclick="return confirm('Are you sure you want to delete your profile?')">
                    Delete anyway
                </button>
                <button class="btn btn-outline-secondary cancel-btn">Cancel</button>
            </div>
        </form>
    </div>
    <br>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".update-btn").on("click", function () {
                $(".content-section").hide();
                $(".update-form").show();
            });

            $(".delete-btn").on("click", function () {
                $(".content-section").hide();
                $(".delete-form").show();
            });

            $(".cancel-btn").on("click", function (event) {
                event.preventDefault();
                $(".delete-form").hide();
                $(".update-form").hide();
                $(".content-section").show();
            });
        });
    </script>
{% endblock %}
